.dial-keyboard {
  display: flex;
  width: 350px;
  max-width: 350px;
  flex-wrap: wrap;
  justify-content: center;
}

.delete-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: -105px;
  border: none;
  background-color: green;
  border-radius: 100%;
}
