.one-dial-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: none;
  background-color: green;
  border-radius: 100%;
}

h4,
p {
  margin: 0;
  padding: 0;
}
