ul,
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  padding: 0;
}
